
#panel.superterran-clear-top-bar.transparent-top-bar--solid {
    background-color: rgba(0, 0, 0, 1);
}

#panel.superterran-clear-top-bar.transparent-top-bar--transparent,
#panel.superterran-clear-top-bar {
    background-color: rgba(0, 0, 0, 0);
}

#panel.superterran-clear-top-bar.transparent-top-bar--transparent .panel-corner {
    -panel-corner-background-color: rgba(0, 0, 0, 0);
    transition-duration: 100ms;
}

#panel.transparent-top-bar--transparent {
    background-color: rgba(0, 0, 0, 0)!important;
}

#panel.transparent-top-bar--transparent .panel-corner {
    -panel-corner-background-color: rgba(0, 0, 0, 0)!important;
}

/* Bright background adjustments */

#panel.superterran-clear-top-bar .system-status-icon,
#panel.superterran-clear-top-bar .app-menu-icon > StIcon,
#panel.superterran-clear-top-bar .popup-menu-arrow {
    icon-shadow: 0px 2px 4px rgba(0, 0, 0, .95);
}

#panel.superterran-clear-top-bar .panel-button {
    color: #eee;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .95);
    transition-duration: 100ms;
}