
#panel.superterran-clear-top-bar.transparent-top-bar--solid {
    background-color: rgba(0, 0, 0, 1);
}

#panel.superterran-clear-top-bar.transparent-top-bar--transparent,
#panel.superterran-clear-top-bar {
    background-color: rgba(0, 0, 0, 0);
}

#panel.superterran-clear-top-bar .panel-corner {
    -panel-corner-background-color: rgba(0, 0, 0, 0);
}